In [2]:
import os
from ouro import Ouro
import pandas as pd

api_key = "71af2ffd480db93711239f859ac006e00f87c5e6c1d345ac0e297ca6705ba75986d9a237c7a81e1fe6a5ef85e3936db2ce86a41aa5d9bb0909b26e9c1807c4a8"
ouro = Ouro(api_key=api_key)

/Users/mmoderwell/.pyenv/versions/3.12.0/envs/ouro/lib/python3.12/site-packages/pydantic/_internal/_fields.py:200: UserWarning: Field name "json" in "PostContent" shadows an attribute in parent "BaseModel"
  warnings.warn(
[2024-05-20 08:48:02 - httpx:1026 - INFO] HTTP Request: POST http://localhost:8003/users/get-token "HTTP/1.1 200 OK"
[2024-05-20 08:48:02 - httpx:1026 - INFO] HTTP Request: POST http://localhost:8003/users/get-token "HTTP/1.1 200 OK"
[2024-05-20 08:48:02 - httpx:1026 - INFO] HTTP Request: GET http://127.0.0.1:54321/auth/v1/user "HTTP/1.1 200 OK"
[2024-05-20 08:48:02 - ouro._client:237 - INFO] Successfully logged in as matt@ouro.foundation.

## Initialize

In [1]:
api_key = "71af2ffd480db93711239f859ac006e00f87c5e6c1d345ac0e297ca6705ba75986d9a237c7a81e1fe6a5ef85e3936db2ce86a41aa5d9bb0909b26e9c1807c4a8"
ouro = Ouro(api_key=api_key)

NameError: name 'Ouro' is not defined

## Earth

### Create a dataset

In [2]:
data = pd.DataFrame(
    [
        {"name": "Bob", "age": 30},
        {"name": "Alice", "age": 27},
        {"name": "Matt", "age": 26},
        {"name": "Bobo", "age": 4},
        {"name": "Asta", "age": 15},
    ]
)

res = ouro.datasets.create(
    data=data,
    name="preview-datasedst",
    visibility="public",
    monetization="none"
)

print(res)

[2024-05-18 09:06:50 - httpx:1026 - INFO] HTTP Request: POST http://localhost:8003/elements/earth/create/from-schema "HTTP/1.1 200 OK"
[2024-05-18 09:06:50 - ouro.resources.elements.earth.datasets:72 - INFO] {'data': {'id': '018f8c74-b5b1-73a0-98f7-d1f26534854e', 'user_id': '4572c8c0-d773-400f-8495-b4d2634fe5ee', 'org_id': None, 'name': 'preview-datasedst', 'description': None, 'visibility': 'public', 'asset_type': 'dataset', 'metadata': {'schema': 'datasets', 'table_name': 'preview-datasedst'}, 'monetization': 'none', 'price': 0, 'product_id': None, 'price_id': None, 'created_at': '2024-05-18T16:06:50.033+00:00', 'last_updated': '2024-05-18T16:06:50.033+00:00', 'preview': None, 'cost_accounting': None, 'cost_unit': None, 'unit_cost': 0}, 'error': None}
[2024-05-18 09:06:50 - httpx:1026 - INFO] HTTP Request: POST http://127.0.0.1:54321/rest/v1/preview-datasedst?columns=%22age%22%2C%22name%22 "HTTP/1.1 201 Created"
[2024-05-18 09:06:50 - ouro.resources.elements.earth.datasets:90 - INFO] Inserted 5 rows into preview-datasedst
[2024-05-18 09:06:50 - httpx:1026 - INFO] HTTP Request: PUT http://localhost:8003/elements/earth/assets/018f8c74-b5b1-73a0-98f7-d1f26534854e "HTTP/1.1 200 OK"

{'id': '018f8c74-b5b1-73a0-98f7-d1f26534854e', 'user_id': '4572c8c0-d773-400f-8495-b4d2634fe5ee', 'org_id': None, 'name': 'preview-datasedst', 'description': None, 'visibility': 'public', 'asset_type': 'dataset', 'metadata': {'schema': 'datasets', 'table_name': 'preview-datasedst'}, 'monetization': 'none', 'price': 0, 'product_id': None, 'price_id': None, 'created_at': '2024-05-18T16:06:50.033+00:00', 'last_updated': '2024-05-18T16:06:50.033+00:00', 'preview': None, 'cost_accounting': None, 'cost_unit': None, 'unit_cost': 0}

### Read the dataset

In [5]:
dataset_id = "018f86da-b1be-7099-9556-fe88fb6882c3"

dataset = ouro.datasets.retrieve(dataset_id)
# dataset = ouro.datasets.retrieve(dataset_id)
dataset

[2024-05-20 08:48:24 - httpx:1026 - INFO] HTTP Request: GET http://localhost:8003/elements/earth/datasets/018f86da-b1be-7099-9556-fe88fb6882c3 "HTTP/1.1 200 OK"

{'id': '018f86da-b1be-7099-9556-fe88fb6882c3',
 'user_id': '4572c8c0-d773-400f-8495-b4d2634fe5ee',
 'org_id': None,
 'name': 'small-dataset',
 'description': None,
 'visibility': 'private',
 'asset_type': 'dataset',
 'metadata': {'schema': 'datasets', 'table_name': 'small-dataset'},
 'monetization': 'none',
 'price': None,
 'product_id': 'prod_Q7giiDNvnHY9m9',
 'price_id': 'price_1PHRKlKWXEwtjjvDaMkujjaV',
 'created_at': '2024-05-17T14:00:30.399+00:00',
 'last_updated': '2024-05-18T16:08:02.705+00:00',
 'preview': None,
 'cost_accounting': None,
 'cost_unit': None,
 'unit_cost': None}

In [7]:
data = ouro.datasets.query(dataset_id)
data

[2024-05-20 08:48:30 - httpx:1026 - INFO] HTTP Request: GET http://localhost:8003/elements/earth/datasets/018f86da-b1be-7099-9556-fe88fb6882c3/data "HTTP/1.1 200 OK"

    name  age
0    Bob   30
1  Alice   27
2   Matt   26

In [1]:
# data = ouro.datasets.query(dataset_id)
data = ouro.database.table("small-dataset").select("*").limit(1).execute()
data = ouro.datasets.load("small-dataset")

data

NameError: name 'ouro' is not defined

In [3]:
update = {
    "visibility": "private",
}
data = ouro.datasets.update("018f86da-b1be-7099-9556-fe88fb6882c3", **update)
data

[2024-05-18 09:08:02 - httpx:1026 - INFO] HTTP Request: PUT http://localhost:8003/elements/earth/assets/018f86da-b1be-7099-9556-fe88fb6882c3 "HTTP/1.1 200 OK"

{'id': '018f86da-b1be-7099-9556-fe88fb6882c3',
 'user_id': '4572c8c0-d773-400f-8495-b4d2634fe5ee',
 'org_id': None,
 'name': 'small-dataset',
 'description': None,
 'visibility': 'private',
 'asset_type': 'dataset',
 'metadata': {'schema': 'datasets', 'table_name': 'small-dataset'},
 'monetization': 'none',
 'price': None,
 'product_id': 'prod_Q7giiDNvnHY9m9',
 'price_id': 'price_1PHRKlKWXEwtjjvDaMkujjaV',
 'created_at': '2024-05-17T14:00:30.399+00:00',
 'last_updated': '2024-05-18T16:08:02.705+00:00',
 'preview': None,
 'cost_accounting': None,
 'cost_unit': None,
 'unit_cost': None}